@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Padding 45px on X axis on mobile, 150px on desktop */

@font-face {
  font-family: "helvetica";
  src: url(../public/fonts/Helvetica-Font/helvetica-light-587ebe5a59211.ttf);
  font-weight: 300;
}
@font-face {
  font-family: "helvetica";
  src: url(../public/fonts/Helvetica-Font/Helvetica.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "helvetica";
  src: url(../public/fonts/Helvetica-Font/Helvetica-Bold.ttf);
  font-weight: 700;
}

.lh-1 {
  line-height: 1 !important;
}
.lh-1_1 {
  line-height: 1.1 !important;
}
.lh-1_2 {
  line-height: 1.2 !important;
}
.lh-1_3 {
  line-height: 1.3 !important;
}
.lh-1_4 {
  line-height: 1.4 !important;
}
.lh-1_5 {
  line-height: 1.5 !important;
}
.lh-1_6 {
  line-height: 1.6 !important;
}
.lh-1_7 {
  line-height: 1.7 !important;
}
.lh-1_8 {
  line-height: 1.8 !important;
}
.lh-1_9 {
  line-height: 1.9 !important;
}

p,
li {
  line-height: 1.5 !important;
}

a {
  line-height: 1.3 !important;
}

@layer base {
  * {
    @apply font-poppins;
  }

  .section-container {
    @apply px-7 sm:px-[45px];
  }

  .people-slider-bullet {
    @apply w-3 lg:w-4 h-3 lg:h-4 bg-[#D9D9D9] block rounded-full cursor-pointer;
  }

  .people-slider-bullet.active {
    @apply bg-wodden-purple;
  }

  @screen lg {
    .section-container {
      /* 150px -> 10.980966325036603vw */
      @apply px-[10.980966325036603vw] max-w-[1920px] mx-auto;
    }
  }

  /* 18px Mobile, 28px Desktop */

  .section-title {
    @apply text-[18px];
  }

  .fs-24px {
    @apply text-lg;
  }

  .fs-16px {
    @apply text-sm md:text-base;
  }

  .fs-20px {
    @apply text-base;
  }

  .fs-18px {
    @apply text-base;
  }

  .fs-14px {
    @apply text-sm;
  }

  /* BUTTONS */
  .btn-primary-default {
    @apply border-2 border-wodden-purple rounded-full px-8 lg:px-1vw py-0_8vw fs-18px text-wodden-purple w-fit lg:w-full lg:max-w-[min(253.35px,18.546852122986824vw)] font-medium;
  }
  .btn-primary-2 {
    @apply border-2 border-white rounded-full px-8 lg:px-1vw py-0_8vw fs-18px text-white w-fit lg:w-full lg:max-w-[min(253.35px,18.546852122986824vw)] font-medium;
  }

  .two-columns {
    @apply grid gap-8 lg:gap-0 lg:flex;
  }

  .two-columns > :first-child {
    width: unset;
  }
  .two-columns > :nth-child(2) {
    width: unset;
  }

  @screen lg {
    .section-title {
      font-size: min(28px, 1.45vw);
    }

    .fs-24px {
      @apply text-[min(24px,1.7569546120058566vw)];
    }

    .fs-16px {
      @apply text-[min(1rem,1.171303074670571vw)];
    }

    .fs-20px {
      @apply text-[min(20px,1.4641288433382138vw)];
    }

    .fs-18px {
      @apply text-[min(18px,1.3177159590043923vw)];
    }

    .fs-14px {
      @apply text-[min(14px,1.0248901903367496vw)];
    }

    .two-columns {
      display: flex;
      justify-content: space-between;
    }

    .two-columns > :first-child {
      width: min(622.25px, 100%);
    }
    .two-columns > :nth-child(2) {
      width: min(622.25px, 100%);
    }
  }
}
